<ion-header translucent="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card *ngFor="let i of items" class="ion-no-padding">
          <ion-card-header>
            <ion-text>
              <h3>{{ i.name }}</h3>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              <h3>{{ i.description }}</h3>
            </ion-text>
          </ion-card-content>
          <ion-item lines="none">
            <ion-note color="default" slot="start">Amount:</ion-note>
            <ion-note color="default" slot="end">{{ (i.price * (i.qty > 10? 10: i.qty)) | currency: 'Php'}}</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-note color="default" slot="start">Quantity:</ion-note>
            <ion-note color="default" slot="end">{{ (i.qty > 10? 10: i.qty) }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-range min="1" max="10" [(ngModel)]="i.qty" color="secondary">
              <ion-label slot="start">1</ion-label>
              <ion-label slot="end">10</ion-label>
            </ion-range>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>